.card {
    width: 300px;
    height: 200px;
    background-color: rgba(75, 63, 63, 0.349);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: auto;
    border-radius: auto;
    padding: 20px;
    margin: 10px;
}

details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

info {
    font-size: 14px;
    color: rgb(0, 0, 0);
    margin-top: 10px;
}

img {
    max-width: 30%;
    height: auto;
}

p {
    font-size: 16px;
    color: rgb(255, 255, 255);
    margin: 10px 0;
}

h2 {
    font-size: 20px;
    color: rgb(255, 255, 255);
    margin: 10px 0;
}